#root {
  text-align: left;
}

a {
  cursor: pointer;
}

.default-font {
  color: #4f4d46;
}

div.simpleTextBlock {
  margin-inline: 2em;
}

div.commandInfoContainer {
  margin-inline: 1.5em;
  padding-block: 0.5em;
}

div.commandListBlock {
  margin: 0.5em;
}

div.hidden {
  display: none;
}

.gg-sans-normal {
  font-family: "gg sans Normal", sans-serif;
}

.gg-sans-semibold {
  font-family: "gg sans Semibold", sans-serif;
}

.nunito-normal {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-semibold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
