:root {
  margin-block: 5%;
  margin-inline: 10%;
  place-content: center;
  line-height: 1.5;

  color-scheme: light dark;
  background-color: #ede8d0;

  font-synthesis: none;
  font-size: 120%;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-color {
  background-color: #ede8d0;
  color: #ede8d0;
}

.secondary-color {
  background-color: #d0ccb8;
  color: #d0ccb8;
}

.tertiary-color {
  background-color: #a19d89;
  color: #a19d89;
}

.darkest-color {
  background-color: #4f4d46;
  color: #4f4d46;
}

body {
  display: block;
}
